<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie info</title>
</head>
<body>
    <h3>
        Feel free to manipulate the movies data here. <br>
        Please do not care about if the output right or wrong. You will get some data anyway~
    </h3>

   <ul>
       {% for key, val in init_movie_name.items() %}

       <li><a href= "api/movies/{{ key }}">{{ val }}</a></li>

       {% endfor %}
       <!-- <li><a href= "api/movies/2"">Intouchable</li> -->
       <!-- <li><a href= "api/movies/3"">The Dark Night</li> -->
       <!-- <li><a href= "api/movies/4">Witness for the Prosecution</li> -->
       <!-- <li><a href= "api/movies/5">Lock, Stock and Two Smoking Barrels</li> -->
   </ul>

    <form action="{{ url_for('show_all_movie_data') }}" method="GET">
        <input type="submit" value="Show All Movies"/>
    </form>

    <h4>
        If there is no movie you are looking for, you can add it below
    </h4>
    <form action="{{ url_for('manipulate_movie') }}" method= "POST">
        movie name: <br>
        <input type="text" name="title"/> <br>
        movie release year: <br>
        <input type="text" name="year"/> <br>
        movie genre: <br>
        <input type="text" name="genre"/> <br>
        movie description: <br> 
        <input type="text" name="description"/> <br>
        api-key: <br>
        <input type="password" name="api-key"/> <br>
        movie_id: (Only for modify) <br>
        <input type="text" name="movie_id"/> <br>

        <button type="submit" name="update_movie" value="add">add movie</button>
        <button type="submit" name="update_movie" value="modify">modify movie</button>
    </form>

    <h4>
        If you do not like a movie, please input the movie id to delete it...
    </h4>
    <form action="{{ url_for('delete_movie') }}" method="POST">
        movie to delete <br>
        <input type="text" name="movie_id"> <br>
        <input type="submit" name="delete_movie" value="delete" />
    
    </form>
</body>
</html>